In [1]:
# Import our dependencies
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler,OneHotEncoder
import pandas as pd
import tensorflow as tf

#  Import and read the charity_data.csv.
import pandas as pd 
application_df = pd.read_csv("./Resources/charity_data.csv")

# Drop the non-beneficial ID columns, 'EIN' and 'NAME'.
application_df = application_df.drop(['EIN', 'NAME'],1)
application_df.head()

C:\Users\auror\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:12: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  if sys.path[0] == '':

,APPLICATION_TYPE,AFFILIATION,CLASSIFICATION,USE_CASE,ORGANIZATION,STATUS,INCOME_AMT,SPECIAL_CONSIDERATIONS,ASK_AMT,IS_SUCCESSFUL
0,T10,Independent,C1000,ProductDev,Association,1,0,N,5000,1
1,T3,Independent,C2000,Preservation,Co-operative,1,1-9999,N,108590,1
2,T5,CompanySponsored,C3000,ProductDev,Association,1,0,N,5000,0
3,T3,CompanySponsored,C2000,Preservation,Trust,1,10000-24999,N,6692,1
4,T3,Independent,C1000,Heathcare,Trust,1,100000-499999,N,142590,1

# Attempt 2: adjust bins

In [2]:
# drop features (successful in attempt 1)
application_df = application_df.drop(['SPECIAL_CONSIDERATIONS', 'STATUS'],1)

C:\Users\auror\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:2: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only

In [3]:
# Determine the number of unique values in each column.
application_df.nunique()

APPLICATION_TYPE      17
AFFILIATION            6
CLASSIFICATION        71
USE_CASE               5
ORGANIZATION           4
INCOME_AMT             9
ASK_AMT             8747
IS_SUCCESSFUL          2
dtype: int64

In [4]:
# Look at APPLICATION_TYPE value counts for binning
app_counts = application_df.APPLICATION_TYPE.value_counts()
app_counts

T3     27037
T4      1542
T6      1216
T5      1173
T19     1065
T8       737
T7       725
T10      528
T9       156
T13       66
T12       27
T2        16
T25        3
T14        3
T29        2
T15        2
T17        1
Name: APPLICATION_TYPE, dtype: int64

In [5]:
#attempt 2, adjust bins:  Fewer bins for application type

replace_application = list(app_counts[app_counts <1000].index)

# Replace in dataframe
for app in replace_application:
    application_df.APPLICATION_TYPE = application_df.APPLICATION_TYPE.replace(app,"Other")
    
# Check to make sure binning was successful
application_df.APPLICATION_TYPE.value_counts()

T3       27037
Other     2266
T4        1542
T6        1216
T5        1173
T19       1065
Name: APPLICATION_TYPE, dtype: int64

In [6]:
# Look at CLASSIFICATION value counts for binning
class_counts = application_df.CLASSIFICATION.value_counts()
class_counts

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
         ...
C4120        1
C8210        1
C2561        1
C4500        1
C2150        1
Name: CLASSIFICATION, Length: 71, dtype: int64

In [7]:
#attempt 2, adjust bins:  Fewer bins for application type, more bins for classification
replace_class = list(class_counts[class_counts < 500].index)

# Replace in dataframe
for cls in replace_class:
    application_df.CLASSIFICATION = application_df.CLASSIFICATION.replace(cls,"Other")
    
# Check to make sure binning was successful
application_df.CLASSIFICATION.value_counts()

C1000    17326
C2000     6074
C1200     4837
C3000     1918
C2100     1883
Other     1484
C7000      777
Name: CLASSIFICATION, dtype: int64

In [8]:
# Generate our categorical variable lists
application_cat = application_df.dtypes[application_df.dtypes == "object"].index.tolist()
application_cat

# Create a OneHotEncoder instance
enc = OneHotEncoder(sparse=False)

# Fit and transform the OneHotEncoder using the categorical variable list
encode_df = pd.DataFrame(enc.fit_transform(application_df[application_cat]))

# Add the encoded variable names to the dataframe
encode_df.columns = enc.get_feature_names(application_cat)
encode_df.head()

,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,AFFILIATION_Independent,AFFILIATION_National,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [9]:
# Merge one-hot encoded features and drop the originals
application_df = application_df.merge(encode_df,left_index=True, right_index=True)
application_df = application_df.drop(application_cat,1)
application_df.head()

C:\Users\auror\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

,ASK_AMT,IS_SUCCESSFUL,APPLICATION_TYPE_Other,APPLICATION_TYPE_T19,APPLICATION_TYPE_T3,APPLICATION_TYPE_T4,APPLICATION_TYPE_T5,APPLICATION_TYPE_T6,AFFILIATION_CompanySponsored,AFFILIATION_Family/Parent,...,ORGANIZATION_Trust,INCOME_AMT_0,INCOME_AMT_1-9999,INCOME_AMT_10000-24999,INCOME_AMT_100000-499999,INCOME_AMT_10M-50M,INCOME_AMT_1M-5M,INCOME_AMT_25000-99999,INCOME_AMT_50M+,INCOME_AMT_5M-10M
0,5000,1,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,108590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,5000,0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,6692,1,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,...,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0
4,142590,1,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0,...,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [10]:
#Split our preprocessed data into our features and target arrays
y = application_df["IS_SUCCESSFUL"].values
X = application_df.drop(["IS_SUCCESSFUL"],1).values

# Split the preprocessed data into a training and testing dataset
X_train, X_test, y_train, y_test = train_test_split(X, y)

# Create a StandardScaler instances
scaler = StandardScaler()

# Fit the StandardScaler
X_scaler = scaler.fit(X_train)

# Scale the data
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

C:\Users\auror\anaconda3\envs\mlenv\lib\site-packages\ipykernel_launcher.py:3: FutureWarning: In a future version of pandas all arguments of DataFrame.drop except for the argument 'labels' will be keyword-only
  This is separate from the ipykernel package so we can avoid doing imports until

In [11]:
# Define the model - deep neural net, i.e., the number of input features and hidden nodes for each layer.
number_input_features = len(X_train[0])
hidden_nodes_layer1 = 80
hidden_nodes_layer2 = 30

nn = tf.keras.models.Sequential()

# First hidden layer
nn.add(
    tf.keras.layers.Dense(units=hidden_nodes_layer1, 
                          input_dim=number_input_features, 
                          activation="relu")
)

# Second hidden layer
nn.add(tf.keras.layers.Dense(units=hidden_nodes_layer2, 
                             activation="relu"))

# Output layer
nn.add(tf.keras.layers.Dense(units=1, 
                             activation="sigmoid"))

# Check the structure of the model
nn.summary()

Model: "sequential"
_________________________________________________________________
 Layer (type)                Output Shape              Param #
=================================================================
 dense (Dense)               (None, 80)                3120

 dense_1 (Dense)             (None, 30)                2430

 dense_2 (Dense)             (None, 1)                 31

=================================================================
Total params: 5,581
Trainable params: 5,581
Non-trainable params: 0
_________________________________________________________________

In [12]:
# Compile the model
nn.compile(loss="binary_crossentropy", optimizer="adam", metrics=["accuracy"])

# Train the model
fit_model = nn.fit(X_train_scaled,y_train,epochs=100)

Epoch 1/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5694 - accuracy: 0.7225
Epoch 2/100
804/804 [==============================] - 1s 982us/step - loss: 0.5552 - accuracy: 0.7293
Epoch 3/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5532 - accuracy: 0.7310
Epoch 4/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5513 - accuracy: 0.7321
Epoch 5/100
804/804 [==============================] - 1s 962us/step - loss: 0.5499 - accuracy: 0.7328
Epoch 6/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5490 - accuracy: 0.7335
Epoch 7/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5485 - accuracy: 0.7335
Epoch 8/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5480 - accuracy: 0.7333
Epoch 9/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5479 - accuracy: 0.7332
Epoch 10/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5466 - accuracy: 0.7358
Epoch 11/100
804/804 [==============================] - 1s 974us/step - loss: 0.5460 - accuracy: 0.7353
Epoch 12/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5458 - accuracy: 0.7340
Epoch 13/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5456 - accuracy: 0.7344
Epoch 14/100
804/804 [==============================] - 1s 979us/step - loss: 0.5451 - accuracy: 0.7352
Epoch 15/100
804/804 [==============================] - 1s 977us/step - loss: 0.5446 - accuracy: 0.7354
Epoch 16/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5451 - accuracy: 0.7366
Epoch 17/100
804/804 [==============================] - 1s 998us/step - loss: 0.5441 - accuracy: 0.7362
Epoch 18/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5437 - accuracy: 0.7359
Epoch 19/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5441 - accuracy: 0.7365
Epoch 20/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5439 - accuracy: 0.7365
Epoch 21/100
804/804 [==============================] - 1s 983us/step - loss: 0.5429 - accuracy: 0.7373
Epoch 22/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5428 - accuracy: 0.7372
Epoch 23/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7369
Epoch 24/100
804/804 [==============================] - 1s 960us/step - loss: 0.5426 - accuracy: 0.7367
Epoch 25/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5427 - accuracy: 0.7366
Epoch 26/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5420 - accuracy: 0.7371
Epoch 27/100
804/804 [==============================] - 1s 944us/step - loss: 0.5422 - accuracy: 0.7376
Epoch 28/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5417 - accuracy: 0.7385
Epoch 29/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5418 - accuracy: 0.7386
Epoch 30/100
804/804 [==============================] - 1s 957us/step - loss: 0.5417 - accuracy: 0.7381
Epoch 31/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5413 - accuracy: 0.7384
Epoch 32/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5410 - accuracy: 0.7368
Epoch 33/100
804/804 [==============================] - 1s 986us/step - loss: 0.5409 - accuracy: 0.7385
Epoch 34/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5405 - accuracy: 0.7388
Epoch 35/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5408 - accuracy: 0.7378
Epoch 36/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5401 - accuracy: 0.7380
Epoch 37/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7381
Epoch 38/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5404 - accuracy: 0.7375
Epoch 39/100
804/804 [==============================] - 1s 996us/step - loss: 0.5401 - accuracy: 0.7385
Epoch 40/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5397 - accuracy: 0.7387
Epoch 41/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5400 - accuracy: 0.7389
Epoch 42/100
804/804 [==============================] - 1s 992us/step - loss: 0.5398 - accuracy: 0.7388
Epoch 43/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5396 - accuracy: 0.7390
Epoch 44/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5399 - accuracy: 0.7385
Epoch 45/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5391 - accuracy: 0.7400
Epoch 46/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5394 - accuracy: 0.7390
Epoch 47/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7388
Epoch 48/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7402
Epoch 49/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5390 - accuracy: 0.7384
Epoch 50/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5388 - accuracy: 0.7385
Epoch 51/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5387 - accuracy: 0.7400
Epoch 52/100
804/804 [==============================] - 1s 997us/step - loss: 0.5385 - accuracy: 0.7397
Epoch 53/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5385 - accuracy: 0.7394
Epoch 54/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5383 - accuracy: 0.7394
Epoch 55/100
804/804 [==============================] - 1s 983us/step - loss: 0.5381 - accuracy: 0.7394
Epoch 56/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7394
Epoch 57/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7394
Epoch 58/100
804/804 [==============================] - 1s 993us/step - loss: 0.5381 - accuracy: 0.7403
Epoch 59/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5382 - accuracy: 0.7397
Epoch 60/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7398
Epoch 61/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7402
Epoch 62/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5379 - accuracy: 0.7401
Epoch 63/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7393
Epoch 64/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5378 - accuracy: 0.7395
Epoch 65/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5380 - accuracy: 0.7402
Epoch 66/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5373 - accuracy: 0.7404
Epoch 67/100
804/804 [==============================] - 1s 972us/step - loss: 0.5369 - accuracy: 0.7402
Epoch 68/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7402
Epoch 69/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5374 - accuracy: 0.7399
Epoch 70/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7413
Epoch 71/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5366 - accuracy: 0.7409
Epoch 72/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5371 - accuracy: 0.7405
Epoch 73/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7404
Epoch 74/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5368 - accuracy: 0.7398
Epoch 75/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5370 - accuracy: 0.7410
Epoch 76/100
804/804 [==============================] - 1s 997us/step - loss: 0.5369 - accuracy: 0.7400
Epoch 77/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5371 - accuracy: 0.7400
Epoch 78/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5367 - accuracy: 0.7408
Epoch 79/100
804/804 [==============================] - 1s 957us/step - loss: 0.5369 - accuracy: 0.7405
Epoch 80/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7399
Epoch 81/100

804/804 [==============================] - 1s 1ms/step - loss: 0.5368 - accuracy: 0.7399
Epoch 82/100
804/804 [==============================] - 1s 921us/step - loss: 0.5362 - accuracy: 0.7400
Epoch 83/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7410
Epoch 84/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7410
Epoch 85/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7406
Epoch 86/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7408
Epoch 87/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7404
Epoch 88/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7407
Epoch 89/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5362 - accuracy: 0.7406
Epoch 90/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5361 - accuracy: 0.7402
Epoch 91/100
804/804 [==============================] - 1s 974us/step - loss: 0.5358 - accuracy: 0.7411
Epoch 92/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5359 - accuracy: 0.7403
Epoch 93/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5363 - accuracy: 0.7407
Epoch 94/100
804/804 [==============================] - 1s 975us/step - loss: 0.5360 - accuracy: 0.7406
Epoch 95/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7406
Epoch 96/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5358 - accuracy: 0.7407
Epoch 97/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5353 - accuracy: 0.7408
Epoch 98/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5355 - accuracy: 0.7402
Epoch 99/100
804/804 [==============================] - 1s 2ms/step - loss: 0.5364 - accuracy: 0.7404
Epoch 100/100
804/804 [==============================] - 1s 1ms/step - loss: 0.5356 - accuracy: 0.7407

In [13]:
# Evaluate the model using the test data
model_loss, model_accuracy = nn.evaluate(X_test_scaled,y_test,verbose=2)
print(f"Loss: {model_loss}, Accuracy: {model_accuracy}")

268/268 - 0s - loss: 0.5682 - accuracy: 0.7247 - 334ms/epoch - 1ms/step
Loss: 0.568173885345459, Accuracy: 0.7246647477149963